COMPOSE_PROJECT_NAME=lms

# Images
FRAPPE_IMAGE=frappe/bench:latest
MARIADB_VERSION=10.8
REDIS_VERSION=7-alpine

# Site
SITE_NAME=lms.dev.ops.example.com
ADMIN_PASSWORD=ChangeThisAdminPasswordNow
MYSQL_ROOT_PASSWORD=ChangeThisMariaDBRootPasswordNow

# Apps
INSTALL_APPS=https://github.com/frappe/lms

# Ports
FRAPPE_HTTP_PORT=8000
SOCKETIO_PORT=9000